{
  "env": {
    "TEST": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "power-assert",
        "react"
      ],
      "plugins": ["istanbul"]
    },
    "BUILD": {
      "presets": [["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] }, "modules": false }]]
    }
  }
}