{

    "presets": [
        "es2015",
        "flow"
    ],
    "plugins": [
        "add-module-exports",
        "transform-runtime"
    ],

    "env": {

        "compile": {
            "presets": [
                "power-assert"
            ]
        },

        "mocha": {
            "plugins": [
                "empower-assert",
                "espower",
                "rewire"
            ]
        },

        "test": {
            "plugins": [
                "empower-assert",
                "espower",
                "rewire",
                "istanbul"
            ]
        },

        "karma": {
            "presets": [
                "power-assert",
                "airbnb"
            ]
        }
    },


}
